/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for repository: avian-influenza
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run the pipeline for the repository.
----------------------------------------------------------------------------------------
*/

params {
    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 4
    max_memory = '14.GB'
    max_time   = '6.h'

    // Input data
    bioproject                  = null
    email                       = "pgangavarapu@scripps.edu"
    metadata                    = "$PWD/metadata/SraRunTable_automated.csv"
    gff_files                   = [
                                    "HA": "$PWD/reference/gff/HA.gff3",
                                    "MP": "$PWD/reference/gff/MP.gff3",
                                    "NA": "$PWD/reference/gff/NA.gff3",
                                    "NP": "$PWD/reference/gff/NP.gff3",
                                    "NS": "$PWD/reference/gff/NS.gff3",
                                    "PA": "$PWD/reference/gff/PA.gff3",
                                    "PB1": "$PWD/reference/gff/PB1.gff3",
                                    "PB2": "$PWD/reference/gff/PB2.gff3"
                                ]
    milk_reference             = "$PWD/milk_assets/milk_reference.fasta"
    milk_barcode               = "$PWD/milk_assets/cattle_barcode.csv"
    // Reference genome
    reference                  = "$PWD/reference/reference.fasta"
    outdir                     = "$PWD/outputs"
}
